<footer>
    <div class="footer-content">
        <p>&copy; 2024 Bougies Sébastien. Tous droits réservés.</p>
        <div class="social-links">
            <a href="#">Facebook</a> | 
            <a href="#">Instagram</a> | 
            <a href="#">Twitter</a>
        </div>
    </div>
</footer>
</body>
</html>
