<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- For mobile responsiveness -->
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/<%= stylesheet %>"> <!-- Link to CSS -->
</head>
<body>

<!-- Navigation bar -->
<nav>
    <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/in-the-air">In the Air</a></li>
        <li><a href="/on-the-road">On the Road</a></li>
        <li><a href="/afternoon-ramatuelle">An Afternoon in Ramatuelle</a></li>
    </ul>
</nav>

<!-- Include your script for navigation and slideshow -->
<script src="/js/script.js"></script> <!-- JavaScript file -->
</body>
</html>
