<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/<%= stylesheet %>"> <!-- Lien dynamique vers les fichiers CSS -->
</head>
<body>

<!-- Barre de navigation -->
<nav>
    <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/in-the-air">In the Air</a></li>
        <li><a href="/on-the-road">On the Road</a></li>
        <li><a href="/afternoon-ramatuelle">An Afternoon in Ramatuelle</a></li>
    </ul>
</nav>

<script src="/js/script.js"></script> <!-- Lien vers le fichier JavaScript -->
</body>
</html>
