<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/<%= stylesheet %>">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet"> <!-- Ajout de la police Poppins -->
</head>
<body>

<!-- Barre de navigation -->
<nav>
    <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/in-the-air">In the Air</a></li>
        <li><a href="/on-the-road">On the Road</a></li>
        <li><a href="/afternoon-ramatuelle">An Afternoon in Ramatuelle</a></li>
        
    </ul>
</nav>

<!-- Bouton pour revenir à la page d'accueil -->
<div class="button-container">
    <a href="/" class="return-button">Retour à l'Accueil</a>
</div>

<!-- Texte général dans un conteneur -->
<section class="introduction">
    <div class="text-container">
        <h1>Galerie du Savoir-Faire</h1>
        <p>Au-delà du rôle d’employé, de confident ou de conseiller que j’ai tenu auprès de Karl, j’ai toujours été, avant tout, un admirateur. Fan de son génie, de sa richesse culturelle inépuisable, de son esprit toujours en ébullition. J’ai été témoin de tant de moments précieux, des instants où Karl révélait toute l’étendue de sa créativité et de sa vision du monde. Chaque jour, il m’émerveillait. Il était bien plus qu’un simple mentor ou un patron ; il était une source d’inspiration perpétuelle.</p>
        <p>Tel un fan, j’ai capturé des fragments de son existence à travers mon objectif, des photos qui, aujourd’hui, me rappellent non seulement sa présence, mais aussi tout ce qu’il a éveillé en moi. Ces clichés, ces instants figés, sont bien plus que de simples images. Ils sont porteurs d’odeurs, de sons, de sensations qui, à travers le temps, sont devenus presque palpables.</p>
    </div>
</section>

<!-- Cheminement de création des bougies -->
<section class="creation-process">
    <div class="text-container">
        <h2>Le Cheminement Créatif de Sébastien </h2>
        <p>Chaque bougie que Sébastien crée est le reflet de son parcours, un mélange d'émotions et de souvenirs. C'est un artisan au talent inné, un artiste qui, avec un crayon et une feuille, esquisse ses inspirations. Dans chaque coup de pinceau, on sent la passion, la ferveur d'un enfant des rues, et la douceur des figuiers qui l’entourent. La lenteur du processus de création est une danse, un rituel où chaque étape est soigneusement orchestrée.</p>
        <p>Il s'ouvre à la formation, apprenant à jouer avec les senteurs, à associer des fragrances qui racontent des histoires. Chaque bougie devient un chapitre de sa vie, une fragrance qui évoque la sérénité d’un après-midi à Ramatuelle. Dans son atelier, il compose avec l’odeur du temps qui passe, mélangeant les essences de son passé pour façonner un avenir lumineux. Et c’est ainsi qu’il offre au monde des souvenirs, des instants figés dans la cire.</p>
    </div>
</section>

<!-- Galerie d'images des bougies -->
<section class="gallery">
    <div class="gallery-item">
        <img src="/images/seb1.jpg" alt="Projet de Fabrication 1">
        <p>Projet de Fabrication 1</p>
    </div>
    <div class="gallery-item">
        <img src="/images/seb2.jpg" alt="Projet de Fabrication 2">
        <p>Projet de Fabrication 2</p>
    </div>
    <div class="gallery-item">
        <img src="/images/seb3.jpg" alt="Projet de Fabrication 3">
        <p>Projet de Fabrication 3</p>
    </div>
</section>

<script src="/js/script.js"></script> <!-- Lien vers le fichier JavaScript -->
</body>
</html>
